.root {
  display: flex;
  justify-content: center;
  align-items: center;
}


#new-tweet {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* .text {
  display: flex;
  justify-content: flex-end;
} */

.include-tweet {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 8;
}

#tweet-text {
  display: flex;
  justify-content: flex-end;
  border: none;
  font-weight: 90000;
  background: transparent;
  /* color: transparent; */
  /* margin-left: 5em; */
  border-bottom: 3px solid black;
  height: 50px;
  width: 500px;
}

textarea {
  display: flex;
  justify-content: center;
  /* border: none; */
  width: 489px;
  /* height: 239px; */
  /* border-bottom: 3px solid black; */
  /* margin-right: 3em; */
  /* margin-left: 5em; */
  
  
}


.button {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: blue;
  color: white;
  font-family: Bungee;
  margin-top: 0.5em;
  /* margin-left: 5em; */
}

.counter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: -1.2em;
  margin-bottom: 1em;
  font-family: Bungee
}

/* Below are the styles used for the lower tweets, I will make a new file to organize these */

/* :root {
  --top: 40px;
} */

#tweet-display {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
  /* height: 50px; */
  /* margin-top: 0em; */
  /* margin-left: 5em; */

}

#test-tweet {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* margin-top: 2em;
  margin-left: -32.5em; */
  height: 100px;
  /* width: 500px; */
  border:solid 3px black;
  /* margin-top: 1em; */
}
#test-tweet img{
  width: 50px;
  height: 50px;
}
#user-display {
  display: flex;
  font-size: 18px;
  justify-content: flex-start;
  /* margin-top: -3.8em;
  margin-left: 4em; */
  /* margin-left: 10px; */
 
  height: 10px;
}

#at-user {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  /* margin-left: 250px; */
  /* margin-top: 8px; */
  /* margin-left: 15em; */
  
}

#placed-tweet {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  /* margin-left: 4em;  */
  /* margin-left: -400px; */
  /* margin-top: 51px; */
}

#text-line {
  height: 500px;
  /* border-top: solid 10em red; */
  /* border-bottom: solid 10em red; */
  
}

#interaction-icon1 {
  transition: box-shadow .3s;
  display: flex;
  /* background-color: #0000FF; */
  flex-direction: flex-end;
  /* margin-top: 85px; */
  /* margin-left: -5em; */
  /* font-size: 10px; */
  /* margin-top: 5em; */
  float: left;
  border-radius:10px;
}

#interaction-icon1:hover {
  box-shadow: 0 0 11px rgba(80, 13, 13, 0.2); 
  color: blue;
}


#interaction-icon2 {
  display: flex;
  flex-direction: flex-end;
  /* margin-left: 37em; */
  /* margin-top: 85px; */
  /* margin-left: -5em; */
  /* font-size: 10px; */
  /* margin-top: 5em; */
}

#interaction-icon2:hover {
  box-shadow: 0 0 11px rgba(80, 13, 13, 0.2); 
  color: blue;
}


#interaction-icon3 {
  display: flex;
  flex-direction: flex-end;
  /* margin-left: 39em; */
  /* margin-top: 85px; */
  /* margin-left: -5em; */
  /* font-size: 10px; */
  /* margin-top: 5em; */
}

#interaction-icon3:hover {
  box-shadow: 0 0 11px rgba(80, 13, 13, 0.2); 
  color: blue;
}


#tweet-date {
  display: flex;
  /* margin-left: -25em; */
  font-size: 10px;
  /* margin-top: 8em; */
}


@media only screen and (min-width: 1024px) {
  .root {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -19em;
    margin-right: 3em;
    /* border: solid 5px red; */
  }
}

